<div class="container">

  <div class="row mb-3">
    <div class="col">
      <h1 class="text-center" style="font-family: system-ui;">الدعاوى القضائية</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <select class="form-control text-center" (change)="onChange($event)">
        <option value="primeng">PrimeNG Charts</option>
        <option value="ngx">Ngx Charts</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1" [ngSwitch]="selectedChart">
      <app-ngx-charts [data]="results" 
        [pageSize]="pagination.pageSize" [pageIndex]="pagination.pageIndex" 
        *ngSwitchCase="'ngx'">
      </app-ngx-charts>

      <app-primeng-charts [data]="results"
       [pageSize]="pagination.pageSize" [pageIndex]="pagination.pageIndex" 
       *ngSwitchCase="'primeng'">
      </app-primeng-charts>
    </div>
  </div>

  <hr />

  <p-paginator 
    (onPageChange)="onPageChange($event)"
    [first]="0" 
    [rows]="pagination.pageSize" 
    [totalRecords]="pagination.length">
  </p-paginator>

  <!-- <mat-paginator #paginator class="demo-paginator" 
    (page)="handlePageEvent($event)" [length]="pagination.length"
    [pageSize]="pagination.pageSize" [pageIndex]="pagination.pageIndex"
    [disabled]="pagination.disabled"
    [showFirstLastButtons]="pagination.showFirstLastButtons"
    [pageSizeOptions]="pagination.showPageSizeOptions ? pagination.pageSizeOptions : []"
    [hidePageSize]="pagination.hidePageSize" aria-label="Select page">
  </mat-paginator> -->

  <!-- <div class="demo-data">
    <div> Output event: {{(pagination.pageEvent | json) || 'No events dispatched yet'}} </div>
    <div> getNumberOfPages: {{paginator.getNumberOfPages()}} </div>
  </div> -->

</div>